form {
  display: grid;
  grid-template-columns: 5em 10em;
  grid-gap: 0.5em;
}

form > .addButton {
  grid-column: 1 / span 2;
  width: 10em;
}

.comment {
  grid-column: 1 / span 2;
  color: red;
}
